body{
	background-color: #F2F2F2;
	margin-left:10%;
	margin-right:10%;
}

.main{
	display: flex;
	text-align: center;
	width: 75%;
	margin-left: 20%;
	margin-right: 20%;
}

.logo1{
	width: 17.5%;
	text-align: center;
}

.logo2{
	width: 17.5%;
	text-align: center;
}

.img1{
	width: 100%;
}

.img2{
	width:100%;
}

.heading{
	width:40%;
	font-size: 2.5em;
}

.file-upload {
    display: none;
}

.p-image {
  position: absolute;
  left:16%;
  top:33%;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: black;
}