body{
    background:url("../images/bg-main.jpg") no-repeat ;
    background-size: cover;
    background-position: auto;
    font-family: 'Nunito', sans-serif;
}

button #mainNav{
    background:rgba(0,0,0,0.3);
}
#mainNav .nav-link{
    color: black;
}

#mainNav .fa-bars{
    color: black;
    font-size:28px;
    }

#mainNav .fa-bars:hover{
    color: #46C664;
    font-size:28px;
    }
#mainNav .nav-link:hover ,#mainNav .active,#mainNav .navbar-brand{
    color: #46C664;
}
#mainNav .navbar-brand{
    font-size: 1.5 rem;
    font-weight: 100;
}
.navbar.scrolled{
  background: #D2D2D2   ;
  transition: background 200ms;
}

.lower{
    width: 76%;
    margin-left: 12%;
    margin-top: 5%
}

#output3{
    height: 200px;
    width: 200px;
    float:right;
}

.size{
    font-size: 1.4em;
}

#output5, #output7, #output8, #output9, #output10{
    font-size: 0.9em;
}
.box{
    background:#EEE;
}
@media(max-width:752px)
{
    .inghead h3{
       
        font-size: 1.12rem;
    }
    .ingrow h5{
        font-size: 0.92rem;
    }
}