body{

    background: #F1FFF4 ;
    font-family: 'Nunito', sans-serif;
}
button #mainNav{
    background:rgba(0,0,0,0.3);
}
#mainNav .nav-link{
    color: black;
}
#mainNav .color-changed{
    background-color : #F1FFF4!important;
}
#mainNav .fa-bars{
color: white;
font-size:28px;
}
#mainNav .fa-bars:hover{
    color: #46C664;
    font-size:28px;
    }
#mainNav .nav-link:hover ,#mainNav .active,#mainNav .navbar-brand{
    color: #46C664;
}
#mainNav .navbar-brand{
    font-size: 1.5 rem;
    font-weight: 100;
}
#jumbo{
    background: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/140991/140991_00_2x.jpg") no-repeat;
    background-position:center;
    background-size: cover;
    padding: 5em inherit;
}
.content{
    color: white;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5),
                 0px 2px 8px rgba(0,0,0,1),
                 0px 2px 23px rgba(0,0,0,1);
}
hr{
    color: black;
    border-top:1px solid #f8f8f8;
    border-bottom : 1px solid rgba(0,0,0,0.2);
}
.navbar.scrolled{
    background: #D2D2D2   ;
    transition: background 200ms;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}