body{
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	margin-left:10%;
	margin-right:10%;
}

.main{
	display: flex;
	text-align: center;
	width: 75%;
	margin-left: 20%;
	margin-right: 20%;
}

.nav{
	display:flex;
	width:50%;
	margin-left:30%;
	margin-right: 20%;
}

.row{
	display:flex;
}
.name{
	margin-left:35%;
	margin-right:35%;
	width:30%;
	text-align:center;
}

.logo1,.logo2{
	width: 17.5%;
	text-align: center;
}

.img1,.img2{
	width: 100%;
}

.img1:hover,.img2:hover{
	width:105%;
	border: 5px solid #585FC1;
}


.heading{
	width:40%;
	font-size: 2.5em;
	color: #585FC1;
}

hr{
	margin-left: 18%;
	margin-right: 18%;
}

.accessory {
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    hsla(0, 0%, 50%, 1.0),
    hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}
.accessory:after {
  position: absolute;
  top:  50%;
  left: 50%;
  display:block;
  background-color: hsl(0, 0%, 75%);
  height: 12px;
  width:  12px;
  transform: rotate(45deg);
  margin-top:  -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid hsla(0, 0%, 100%, 0.35);
  background-clip: padding-box;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}

input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../images/searchicon.png");
  background-position: 10px 10px; 
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

a[href="/buildpantry/"]{
	text-decoration: none;
	font-size: 1.4em;
	width:25%;
	padding-top: 5px;
	margin-right: 19%;
	color: #585FC1;
	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: white;
}



.file-upload {
    display: none;
}

.pp{
	position:absolute;
	left:26%;
	top:30%;
	min-width:100px;
	min-height:100px;
	max-width:100px;
	max-height:100px;
}

.p-image {
  position: absolute;
  left:32%;
  top:42%;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: black;
}