/* Include the padding and border in an element's total width and height */
body{
  background-image: url(bg2.jpg);
  background-size: 770px 750px;
}

.half{
  width:28%;
  position: absolute;
  top: 18%;
  left: 9%;
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 3px 3px 3px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}



.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  padding: 10px 10px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

a[href="User_Profile_Page.html"]:link{
  color:black;
  text-decoration: none;
}

a[href="User_Profile_Page.html"]:visited{
  color:black;
  text-decoration: none;
}

a[href="User_Profile_Page.html"]:hover{
  color:red;
  text-decoration: none;
}

.user{
  margin-left: 85%;
}

.srch{
  width: 20%;
  position: absolute;
  left: 27%;
  border: 5px double black; 
}

.button{
  position:absolute;
  left:310px;
  top: 1px;
  height:100%;
  text-align: center;
}

.secondhalf{
  width:28%;
  position: absolute;
  top: 19%;
  left: 68%;
}

.go{
  position: absolute;
  top :35%;
  left:43%;
}