{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-BuildPantry</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/buildpantry.css' %}">
</head>
<body class="container">
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
               
                    <ul class="navbar-nav border-bottom-0">
                        <li class="nav-item">
                            <a href="../userprofile" class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link active" href="#">BuildPantry</a>
                        </li>
                        <li class="nav-item">
                            <a href="./getallrecipe" class="nav-link" href="#">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" href="#">Log Out</a>
                        </li>
            
                    </ul>
                    <ul class="navbar-nav border-bottom-0 ml-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link" href="#">Amit Agarwal</a>
                        </li>
                        <li class="nav-item">
                            <img src="{%static './images/avatar.webp' %}" class="border rounded-circle mt-2" style="width: 1.5 rem;height: 1.5rem;">
                        </li>
                    </ul>
        </nav>
    </section>

    <section id="pageContent">
        <div class="container">
            <form action="getrecipe" method="POST" id="pantryform">
                {% csrf_token %}
            <div class="row justify-content-between">
                
                    <div class="col-md-4 col-11 half">
                        <div id="myDIV" class="header pb-2">
                            <h2 style="background:#A4A4A4" class="rounded">Add Ingredients</h2>
                            <div class="row">
                            
                                <div class="col-9 col-md-9 pr-0">
                                    
                           
                                    <input onkeypress="return noenter()" class="form-control form-control" list="ingredients" autocomplete="off" type="text" id="myInput" placeholder="Ingredient">
                                    <datalist id="ingredients">
                                        {% for ing in ingredients%}
                                        <option class="list" value="{{ing.name}}">
                                        {% endfor%}
                                    </datalist>
                                    
                                </div>
                                <div class="col-3 col-md-3 pl-0">
                                    <button type="button" id="AddBtn"  onclick="newElement()" class="btn btn-success btn-lg addBtn">Add</button>
                              </div>
                            
                            </div>
                        </div>
                        <div >
                            <h4 style="background:#A4A4A4" class="rounded">My pantry</h4>
                            <ul id="ingList">
                                <li class="checked">tomato</li>
                                <li>onion</li>
                                <li>chili pepper</li>
                                <li>milk</li>
                                <li>bread</li>
                            </ul>
                        </div>
                        
                    </div>
                
                    <div class="p-3 col-md-2 col-11 d-flex justify-content-center h-75 ">
                        <button type="submit" form="pantryform" value="Submit" class="btn btn-large btn-success go" >Get Recipes</button>
                    </div>


                    <div class="p-2 col-md-6 col-11 secondhalf text-center">
                    
                        <h2 style="background:#A4A4A4" class="rounded pb-0 mb-0">Apply filter:</h2>
                        <br>
                        <div class="filters row">
                            <div class="pt-3 eatpref col-12 text-center">
                                <label><strong>Veg/Non Veg</strong></label>
                                 <br>
                                 {%for mark in marks%}
                                <input onkeypress="return noenter()" type="checkbox" name="mark" value="{{mark.0}}">
                                <label for="{{mark.0}}">{{mark.1}}</label>
                                {%endfor%}
                                <br><br>
                            </div>
                            
                            <div class="dishpref col-lg-6 col-12 text-left">
                                <label><strong>Type of Dish</strong></label>
                                 <br>
                                <ul>
                                    {%for dishtype in dishtypes%}
                                    <li>
                                        <input onkeypress="return noenter()" type="checkbox" name="dishtype" value="{{dishtype.0}}">
                                        <label for="{{dishtype.0}}">{{dishtype.0}}</label>
                                        <br>
                                    </li>
                                    {%endfor%}
                                </ul>
                                <br><br>
                            
                            </div>
    
    
    
    
                            <div class="cuisinepref col-lg-6 col-12 text-left">
                                <label><strong>Type of Cuisine</strong></label>
                                 <br>
                                <ul>
                                    {%for cuisine in cuisines%}
                                    <li>
                                        <input onkeypress="return noenter()" type="checkbox" name="cuisine" value="{{cuisine.0}}" >
                                        <label for="{{cuisine.0}}">{{cuisine.0}}</label>
                                        <br>
                                    </li>
                                    {%endfor%}
                                </ul>
                                <br><br>
                            
                            </div>
    
                            <div class="mealpref col-lg-6 col-12 text-left input-group">
                                <label><strong>Type of Meal</strong></label>
                                <br>
                                <ul>
                                    {%for mealtype in mealtypes%}
                                    <li>
                                        <input onkeypress="return noenter()" type="checkbox" name="mealtype" value="{{mealtype.0}}">
                                        <label for="{{mealtype.0}}">{{mealtype.0}}</label>
                                        <br>
                                    </li>
                                    {%endfor%}
                                </ul>
                                <br><br>
                    
                            </div>

                            <div class="timepref col-lg-6 col-12 text-left">
                                
                                Max. time to cook:
                                <br>
                                <label for="hh"><b>hrs</b></label>
                                <input type="number" onkeypress="return noenter()" placeholder="hh" name="hh" max="5" min="0" style="width:25%">
                                <label for="mm"><b>mins</b></label>
                                <input type="number" onkeypress="return noenter()" placeholder="mm" name="mm" max="59" min="0" style="width:25%">                            
              
  
                            </div>

                            
                        </div>
                    </div>

                </div>

            </form>
                
                
                
                
 
            </section>
    

    
<script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static './js/buildpantry.js' %}"></script>
<script>
    $(function(){
        $(document).scroll(function(){
            var $nav=$("#mainNav");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
        });
    });
</script>
<script type="text/javascript">
    function noenter() {
      return !(window.event && window.event.keyCode == 13); }
    </script>
</body>
</html