<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
	<meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
 	<meta name="keywords" content="Recipe, Cook, Chef, Bake">
  	<meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Build Pantry</title>

	<link rel="stylesheet" type="text/css" href="Build_Pantry.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	Build Pantry Page
	<!--Optional Javascript-->
	<!-- Inorder Scripts: JQuery, Popper.js, Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	<script src="./js/User_Profile_Page_Image.js"></script>

</body>

</html>