{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/contact.css' %}">
</head>

<body>
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                {%if login %}
                <ul class="navbar-nav border-bottom-0">
                    <li class="nav-item">
                        <a href="../userprofile" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="../buildpantry/" class="nav-link" >BuildPantry</a>
                    </li>
                    <li class="nav-item">
                        <a href="../buildpantry/getallrecipe" class="nav-link" >Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" >Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="../logout" class="nav-link" >Log Out</a>
                    </li>
        
                </ul>
                <ul class="navbar-nav border-bottom-0 ml-auto">
                    <li class="nav-item ">
                        <a href="#" class="nav-link" >{{request.user.username}}</a>
                    </li>
                    {{profile.profilepicture.url}}
                    <li class="nav-item">
                        <img src="{{request.user.profile.profilepicture.url}}" class="border rounded-circle mt-2" style="width: 1.5 rem;height: 1.5rem;">
                    </li>
        
                
                    {%else%}
                        </ul>
                        <ul class="navbar-nav border-bottom-0 flex-column flex-md-row">
                            <li class="nav-item">
                                <a href="../" class="nav-link" >Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" >Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="../signup" class="nav-link" >Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a href="../login" class="nav-link" >Log In</a>
                            </li>
                        </ul>
                    {%endif%}
                </div>
        </nav>
        <div id="jumbo" class="jumbotron jumbotron-fluid text-right">
            <div class="text-center content pt-5">
                <h1 class="display-2">
                    Naive Baker
                </h1>
                
                <hr class="w-50">
                <span class="display-5">
                        Recipes for your soul
                </span>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h4><p>If you are a fan or just old fashioned and want to complain via a letter. Write to us at the following address.</p></h4>
            <span class="email">Dhirubhai Ambani Institute of Information and Communication Technology (DA-IICT), near Reliance Chowkdi, Gandhinagar, Gujarat 382007.</span>

            <br><br>

            <h4>Send E-Mail To </h4>
            <p><a href = 'mailto:janamvaidya8599@gmail.com?body="Your Text"&subject="Subject"' class="email">janamvaidya8599@gmail.com</a></p>
            <p><a href = 'mailto:janamvaidya080599@gmail.com?body="Your Text"&subject="Subject"' class="email">janamvaidya080599@gmail.com</a></p>
        </div>
        

    </section>



    <script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $(document).scroll(function(){
                var $nav=$("#mainNav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
            });
        });
    </script>

</body>

</html>