<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-EditProfile</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="editprofile.css">
</head>

<body>
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                <ul class="navbar-nav border-bottom-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" href="#">BuildPantry</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" href="#">Log Out</a>
                    </li>
        
                </ul>
                <ul class="navbar-nav border-bottom-0 ml-auto">
                    <li class="nav-item ">
                        <a href="#" class="nav-link" href="#">{{request.user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <img src="avatar.webp" class="border rounded-circle mt-2" style="width: 1.5 rem;height: 1.5rem;">
                    </li>
        
                </ul>
                </div>
        </nav>
    </section>

    <section id="usercontent">
        <div id="jumbo" class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row mt-4 justify-content-around">
                    <div class="col-10 col-md-4 photo">
                        <img src="avatar.webp" class="border rounded-circle img-fluid pp" id="changeimage">
                        <div class="p-image">
                            <i class="fa fa-camera upload-button" class="camera"></i>
                            <input class="file-upload" type="file" accept="image/*"/>
                        </div>
                    </div> 
                    <div class="p-3 col-11 col-md-2">
                        <a href="#" class="btn btn-secondary btn-large " onclick="changeImage()" ><i class="fas fa-edit"></i> Remove Photo</a>
                    </div>   
                    
                </div>
            </div> 
        </div>
    </section>

    <section>

        <form action="#" method="post">

            <div class="container">

                <label for="uname"><b>User-Name</b></label>
                <input type="text" placeholder="Enter New Username" name="uname" required>
                <br>

                <label for="email"><b>E-Mail</b></label>
                <input type="email" placeholder="Enter New Email" name="email" required>
                <br>

                <label for="age"><b>Age</b></label>
                <input type="number" placeholder="Enter Age" name="age" required>
                <br>

                <label for="contact"><b>Mobile Number</b></label>
                <input type="tel"  name="contact" placeholder="Enter New Mobile Number" required>
                <br>

                <button type="submit" class="signupbtn">Submit</button>
                
            </div>

        </form>

    </section>



    <script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $(document).scroll(function(){
                var $nav=$("#mainNav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
            });
        });
    </script>
    <script src="editprofile.js"></script>

</body>