{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-Home</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/home.css' %}">
</head>

<body>
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                    <ul class="navbar-nav border-bottom-0 flex-column flex-md-row">
                        <li class="nav-item">
                            <a  class="nav-link active" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link" >Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/signup" class="nav-link" >Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link" >Log In</a>
                        </li>
            
                    </ul>
                </div>
        </nav>
        <div id="jumbo" class="jumbotron jumbotron-fluid text-right">
            <div class="text-center content pt-5">
                <h1 class="display-2">
                    Naive Baker
                </h1>
                
                <hr class="w-50">
                <span class="display-5">
                        Recipes for your soul
                </span>
                <!-- <button type="button" class="btn btn-light">Get Cooking!</button> -->
            </div>
        </div>
    </section>


    <section>
        
        <div class="container">
            {%for message in messages%}
            {% if forloop.first %}
            <div class="alert alert-success" role="alert">
                {%endif%}
                {{message}}
                
              </div>
            {%endfor%}
            <p><b class="boldpar">Imagine a world where your kitchen helps you decide what to cook using your pantry and preferences. The Naive Baker is just the beginning.</b></p>
            <p><b class="boldpar">You walk into your kitchen, hungry. What happens next?</b></p>
            <p>The Naive Baker is a project to let you explore new recipes with ingredients you already have at hand. Enter your pantry quickly using autocomplete and machine generated ingredient suggestions, then find out what you can cook! Use the filters to limit the amount of time you have, or to select the particular ingredients you feel like cooking with today.</p>
    
            <p>The Naive Baker can help you think of new ingredients to buy to expand your food repertoire. Suggested ingredients are calculated in real time so that adding any new ingredient will add new meals to your recipe list. You can also login using Facebook to save your pantry between sessions.</p>
    
            <p>We're building The Naive Baker to make cooking at home more convenient and to empower your kitchen as a tech savvy part of your house. In the near future, kitchens will have screens and inventory management will be simple.  We see The Naive Baker as a way to connect personal inventory management with what's for dinner.</p>
        </div>
        
    </section>
        




<script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static './js/home.js' %}"></script>
<script>
    $(function(){
        $(document).scroll(function(){
            var $nav=$("#mainNav");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
        });
    });
</script>
</body>

</html>