{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
	<meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
 	<meta name="keywords" content="Recipe, Cook, Chef, Bake">
  	<meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-List</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/recipelist.css' %}">
</head>

<body>

	<section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                <ul class="navbar-nav border-bottom-0">
                    <li class="nav-item">
                        <a href="../../userprofile" class="nav-link" >Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../buildpantry" class="nav-link" >BuildPantry</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" >Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" href="../../contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" href="../../logout">Log Out</a>
                    </li>
        
                </ul>
                <ul class="navbar-nav border-bottom-0 ml-auto">
                    <li class="nav-item ">
                        <a href="#" class="nav-link" href="#">{{request.user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <img src="{{request.user.profile.profilepicture.url}}" class="border rounded-circle mt-2" style="width: 1.5 rem;height: 1.5rem;">
                    </li>
        
                </ul>
                </div>
        </nav>
    </section>
    

    <section class="list">
        <div class="container mt-5">
    	<div class="title">
    		<br>
    		<h5>{{result.count}} Recipe(s) found:</h5>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search from these recipes.." title="Type in a name">
		</div>
        
            
            <div class="row justify-content between ">
                {% for recipe in result%}
                
                <div class="mx-3 card col-md-5 col-lg-3 col-11 mt-3" style="width: 18rem;">
                    <a href="../display/{{recipe.title}}/" style="color:inherit;">
                    <img class="card-img-top" src= "{{recipe.images.0}}" styles="height: auto,width:100%" alt="Card image cap">
                    <div class="card-body ">
                        <h5 class="card-title" style="font-size:1.125rem;">{{recipe.title}}</h5>
                        <div style="font-size:0.85rem">
                            {{recipe.description|slice:":150"}}...
                        </div>
                        <div style="font-size:0.85rem ">   
                            
                        </div>

                    </div>
                    </a>
                </div>
                
                {%endfor%}
            </div>
		   
        </div>
		

	</section>

<!--Optional Javascript-->
<!-- Inorder Scripts: JQuery, Popper.js, Bootstrap JS -->
<script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static './js/recipelist.js' %}"></script>

<script>
    $(function(){
        $(document).scroll(function(){
            var $nav=$("#mainNav");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
        });
    });
</script>

</body>

</html>