{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-SignUp</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/signup.css' %}">

    
</head>

<body>
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                    <ul class="navbar-nav border-bottom-0 flex-column flex-md-row">
                        <li class="nav-item">
                            <a href="../" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../contact" class="nav-link" >Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link active" >Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="../login" class="nav-link" >Log In</a>
                        </li>
            
                    </ul>
                </div>
        </nav>
        <div id="jumbo" class="jumbotron jumbotron-fluid text-right">
            <div class="text-center content pt-5">
                <h1 class="display-2">
                    Naive Baker
                </h1>
                
                <hr class="w-50">
                <span class="display-5">
                        Recipes for your soul
                </span>
                <!-- <button type="button" class="btn btn-light">Get Cooking!</button> -->
            </div>
        </div>
    </section>

    <section>

        <div class="container">
            {%for message in messages%}
            {% if forloop.first %}
            <div class="alert alert-danger" role="alert">
                {%endif%}
                {{message}}
                
              </div>
            {%endfor%}
        <form action="/signup/" style="border:1px solid #ccc" method="POST" enctype="multipart/form-data">


            {% csrf_token %}

            <div class="container">
               
                <p>Please fill in this form to create an account.</p>
                <hr>
                <div class="row justify-content-around">
                    <div class="col-11 col-md-7">
                        <label for="uname"><b>Username</b></label>
                        <input class="form-control" type="text" placeholder="Enter Username" name="uname" required>

                        <label for="dob"><b>Date of birth</b></label>
             
                        <div class="form-group">
                          <div id="filterDate2">
                            
                            <!-- Datepicker as text field -->         
                            <div class="input-group date" data-date-format="dd.mm.yyyy">
                                
                                <input class="form-control" id="dob" name="dob" placeholder="dd/mm/yyyy" type="text" required/>
                                
                              <div class="input-group-addon" >
                                
                              </div>
                            </div>
                            
                          </div>    
                        </div>
                        <label for="email"><b>Email</b></label>
                        <input class="form-control" type="email" placeholder="Enter Email" name="email" required>
                    </div>

                    <div class=" pb-2 col-7 col-md-3">
                        <div id="profile-container ">
                            <label for="profile_photo"><b>Set profile picture</b></label><br>
                           
                                <img class="rounded-circle img-fluid" id="profileImage" src="{%static './images/avatar.jpg' %}" />
                         </div>
                         <input class="pt-2" id="imageUpload" type="file" name="profilepicture" placeholder="Photo" required="">
                    </div>
                    
                </div>
                <div class="row justify-content-around">
                    <div class="col-11">
                        <label for="psw"><b>Password</b></label>
                        <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
        
                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input class="form-control" type="password" placeholder="Repeat Password" name="psw-repeat" required>
                    </div>
                    <div class="col-11">
                        <p>By pressing the Signup button, you agree to our <a href="#" style="color:dodgerblue">Terms & Conditions</a>.</p>

                        <div class="clearfix">
                            <button type="submit" class="signupbtn" style="width:100%;">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>

    <script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
        $(function(){
            $(document).scroll(function(){
                var $nav=$("#mainNav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
            });
        });
    </script>

    
    <script>
        $(document).ready(function(){
            var date_input=$('input[name="dob"]'); //our date input has the name "date"
            var container=$('.input-group date').length>0 ? $('.input-group date').parent() : "body";
            var options={
              format: 'dd/mm/yyyy',
              container: container,
              todayHighlight: true,
              autoclose: true,
            };
            date_input.datepicker(options);
          })
    </script>
    <script>
        $("#profileImage").click(function(e) {
            $("#imageUpload").click();
        });
        
        function fasterPreview( uploader ) {
            if ( uploader.files && uploader.files[0] ){
                  $('#profileImage').attr('src', 
                     window.URL.createObjectURL(uploader.files[0]) );
                     
            }
        }
    </script>
    <script>
        $("#imageUpload").change(function(){
            fasterPreview( this );
        });
    </script>

</body>

</html>