
{%load static%}
<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
	<meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
 	<meta name="keywords" content="Recipe, Cook, Chef, Bake">
  	<meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>User Profile Page</title>

	<link rel="stylesheet" type="text/css" href="{%static './styles/User_Profile_Page.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static './styles/bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="main">
	<div class="logo1">
		<a href=""><img src="{%static './images/logoNB.png' %}" alt="logo" height="175" class="img1"></a>
	</div>
	<h2 class="heading">The Naive Baker</h2>
	<div class="logo2">
		<a href=""><img src="{%static './images/logoNB.png' %}" alt="logo" height="175" class="img2"></a>
	</div>
</div>

<hr class="accessory">

<div class="nav">
	<form>
  		<input type="text" name="search" placeholder="Search.." class="search">
	</form>
	<a href="Build_Pantry.html" class="pantry">Build My Pantry</a>
</div>


<hr class="accessory">


<div class="row">
	
	<div class="photo">
		<img src="{%static './images/avatar.webp' %}" alt="Avatar" style="width:100px" style="height:100px" class="pp">
		<div class="p-image">
			<i class="fa fa-camera upload-button" class="camera"></i>
			<input class="file-upload" type="file" accept="image/*"/>
		</div>
	</div>

	<div class="name"><h2>JANAM VAIDYA</h2></div>

</div>


<!--Optional Javascript-->
<!-- Inorder Scripts: JQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script src="{%static './js/User_Profile_Page_Image.js' %}"></script>

</body>

</html>