{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="description" content="Don't know what to cook with the ingredients you have or how to cook. Well, you have come to the right place!!">
    <meta name="keywords" content="Recipe, Cook, Chef, Bake">
    <meta name="author" content="DAIICT Batch of 2021/Sem 6 - Subject:SEN/ Team 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaiveBaker-Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './styles/userprofilepage.css' %}">
</head>
<body id="bodyofdoc">
    
    <section id="top">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top py-0">
            <a href="#" class="navbar-brand"><i class="fas fa-bread-slice p-1"></i>Naive Baker</a>
            <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>    
            <div id="navbarSupportedContent" class="px-2 collapse navbar-collapse">
                <ul class="navbar-nav border-bottom-0">
                    <li class="nav-item">
                        <a  class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="../buildpantry/" class="nav-link" >BuildPantry</a>
                    </li>
                    <li class="nav-item">
                        <a href="../buildpantry/getallrecipe" class="nav-link" >Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="../contact" class="nav-link" >Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="../logout" class="nav-link" >Log Out</a>
                    </li>
        
                </ul>
                <ul class="navbar-nav border-bottom-0 ml-auto">
                    <li class="nav-item ">
                        <a href="#" class="nav-link" >{{request.user.username}}</a>
                    </li>
                    {{profile.profilepicture.url}}
                    <li class="nav-item">
                        <img src="{{request.user.profile.profilepicture.url}}" class="border rounded-circle mt-2" style="width: 1.5 rem;height: 1.5rem;">
                    </li>
        
                </ul>
                </div>
        </nav>
    </section>

    <section id="usercontent">
        <div id="jumbo" class="jumbotron jumbotron-fluid mb-2 pb-4">
            <div class="container">
                <div class="row mt-3 justify-content-around">
                    <div class="col-10 col-md-4">
                        <img src="{{request.user.profile.profilepicture.url}}" class="border rounded-circle img-fluid">
                    </div>
                    <div class="col-10 col-md-5 written">
                        <div class="row">
                            Name : {{request.user.username}}
                        </div>
                        <div class="row">
                        Email: {{request.user.email}}
                        </div>
                        <div class="row">
                            Date of birth: {{request.user.profile.dateofbirth}}
                        </div>
                    </div>
                    <!-- <div class="p-3 col-11 col-md-2">
                        <a href="#" class="btn btn-secondary btn-large "><i class="fas fa-edit"></i> Edit profile</a>
                    </div>    -->
                </div>
            </div> 
        </div>
    </section>
    <section id="recipedisplay">
        <div class="fluid-container">
            <div class="row mx-0">
                <div class="col-md-3 col-11 ">
                    {% csrf_token %}
                    <div class="row mt-1 mb-2 justify-content-center d-flex">
                        <button type="button" class="btn btn-large btn-outline-success active " id="fav">My Favourites</button>             
                    </div>
                    <div class="row mb-2 justify-content-center d-flex">
                        <button type="button" class="btn btn-large btn-outline-success " id="history">Recently viewed</button>         
                    </div>
                    <!-- ADD THESE LATER <div class="row mb-2 justify-content-center d-flex">
                        <button type="button" class="btn btn-large btn-outline-success active">Top Recipes</button>             
                    </div>
                    <div class="row mb-2 justify-content-center d-flex">
                        <button type="button" class="btn btn-large btn-outline-success">Recommended For You</button>          
                    </div> -->
                </div>
                <div class="col-1 line d-none d-md-block px-0"></div>
                <div class="col-md-7 col-11 border recipes">
                    <div id="ajax-content" class="row d-flex justify-content-around">
                        <!--dynamic content here-->
                    </div>
                </div>
                   
            </div>
        </div>
    </div>
</section>
   
   
 


<script src="https://kit.fontawesome.com/824416a126.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static './js/userprofile.js' %}"></script>
<script>
    $(function(){
        $(document).scroll(function(){
            var $nav=$("#mainNav");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height() );
        });
    });
</script>
<script>
    $( document ).ajaxComplete(function () {
        var rems=document.getElementsByClassName('remove');
        for(var i=0;i<rems.length;i++)
        {
            rems[i].addEventListener('click',function(){
                cardiv=this.parentElement.parentElement;
                dat={}
                dat['csrfmiddlewaretoken']=$('input[name="csrfmiddlewaretoken"]').val();
                dat['recipe_title']=cardiv.querySelector('h5').textContent;
                ID=cardiv.getAttribute('class').split(' ')[0];
                var dynamic_url='';
                if(ID=='fav')
                {dynamic_url+="../buildpantry/favourite/";
                    dat['isFavourite']='false';
                }
                else
                {
                    dynamic_url="./removeFromSearch/";
                }
                $.ajax({
                    url : dynamic_url,
                        data: dat,
                        type : 'POST',
                        dataType : 'json',
                        success: function(result) { 
                            cardiv.className+=" d-none";
                        }
                })
            });
        };
        });
</script>
</body>
</html>